h1 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

* {
  margin: 0px;
  padding: 0px;
  color: white;
}
body {
  font-size: 120%;
  background: #111;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #111;
  text-align: center;
  border: 1px solid #111;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-top: 100px;
}

.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #111;
  background: #3a3a3a;
  border-radius: 0px 0px 10px 10px;
}
.registerForm {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #111;
  background: #3a3a3a;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #111;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 20px;
  z-index: 1;
  background-color: #111;
}
.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.row_posters {
  list-style-type: none;
  color: white;
  margin-left: 20px;
}
.row_poster::-webkit-scrollbar {
  display: none;
}
.row_poster {
  list-style-type: none;
  display: flex;
  overflow-x: scroll;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
}

.navlist {
  float: left;
  display: flex;
  margin-bottom: 20px;
}

.navlist a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.newForm {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
}
